Repository zuri-training/clovar_cms, pull requests merged in 2022-08, with the labels that each got.

#63 fix: add more details to form
  templates/account/signup.html
Labels: enhancement, frontend

#72 feat: create sign-in and sign-up page
  frontend/assets/css/login.css
  frontend/assets/css/sign-up.css
  frontend/login.html
  frontend/sign-up.html
Labels: enhancement, frontend

#73 fix: add images
  .gitignore
  frontend/assets/images/favicon.ico
  frontend/assets/images/images.txt
  frontend/assets/images/logo.png
Labels: frontend

#77 feat: add landing page
  frontend/assets/css/style.css
  frontend/assets/images/amazon.png
  frontend/assets/images/boom.png
  frontend/assets/images/facebook-icon.png
  frontend/assets/images/fliqpay.png
  frontend/assets/images/flutterwave.png
  frontend/assets/images/instagram-icon.png
  frontend/index.html
Labels: enhancement, frontend

#81 feat: email smtp settup
  accounts/admin.py
  config/settings.py
Labels: backend

#82 fix: templates overrides for base, home, signin/signup, email_confirm, logout
  static/assets/css/email_confirm.css
  static/assets/css/login.css
  static/assets/css/logout.css
  static/assets/css/pick-niche.css
  static/assets/css/sign-up.css
  static/assets/css/style.css
  static/assets/images/amazon.png
  static/assets/images/boom.png
  static/assets/images/facebook-icon.png
  static/assets/images/favicon.ico
  static/assets/images/fliqpay.png
  static/assets/images/flutterwave.png
  static/assets/images/image_360(1).png
  static/assets/images/image_360.png
  static/assets/images/instagram-icon.png
  static/assets/images/logo.png
  static/assets/js/script.js
  templates/account/email_confirm.html
  templates/account/login.html
  templates/account/logout.html
  templates/account/signup.html
  templates/base.html
  templates/home.html
Labels: backend

#83 new page description page commit
  frontend/assets/css/new-page-desc.css
  frontend/assets/new-page-desc.html
Labels: enhancement, frontend

#84 fix: update landing page
  frontend/assets/css/style.css
  frontend/index.html
Labels: enhancement, frontend

#85 fix: add sign-out-caution page
  frontend/assets/css/sign-out-caution.css
  frontend/sign-out-caution.html
Labels: frontend

#98 style: few updates
  frontend/assets/css/style.css
Labels: enhancement, frontend

#99 Update the sign-out page, create my file under contributions
  contributions/OyebamijiMustapha(musoye).md
  frontend/assets/css/confirm-sign-out.css
  frontend/confirm-sign-out.html
Labels: bug, frontend

#123 Dashboard Home
  frontend/assets/css/dashboard.css
  frontend/dashboard.html
Labels: frontend

#125 Marketing and Integration Webpage, Stylesheet and Assets
  frontend/assets/css/Marketing_and_integrations_style.css
  frontend/assets/images/Marketing Integrations/Appearance.png
  frontend/assets/images/Marketing Integrations/Comments.png
  frontend/assets/images/Marketing Integrations/Emergency_exit.png
  frontend/assets/images/Marketing Integrations/Feedback.png
  frontend/assets/images/Marketing Integrations/Home.png
  frontend/assets/images/Marketing Integrations/Media.png
  frontend/assets/images/Marketing Integrations/Plugins.png
  frontend/assets/images/Marketing Integrations/Polygon 1.png
  frontend/assets/images/Marketing Integrations/Settings.png
  frontend/assets/images/Marketing Integrations/Stats.png
  frontend/assets/images/Marketing Integrations/Tools.png
  frontend/assets/images/Marketing Integrations/Users.png
  frontend/marketing-integrations.html
Labels: frontend

#128 User dashboard page first commit
  frontend/assets/css/dashboard-users.css
  frontend/assets/images/profile-avatar.jpeg
  frontend/dashboard-users.html
Labels: frontend

#131 fix: error messages for wrong signup/signin details, http referrer fo…
  config/settings.py
  templates/account/login.html
  templates/account/logout.html
  templates/account/signup.html
Labels: enhancement, backend

#132 update the signup/login/sign out page
  frontend/assets/css/confirm-sign-out.css
  frontend/assets/css/login.css
  frontend/assets/css/sign-up.css
  frontend/assets/images/back.png
  frontend/confirm-sign-out.html
  frontend/login.html
  frontend/sign-up.html
Labels: bug, enhancement, frontend

#135 forgot password link added
  templates/account/login.html
Labels: bug, frontend

#138 fix: complete-landing-page
  frontend/assets/css/style.css
  frontend/assets/js/script.js
  frontend/index.html
Labels: enhancement, frontend

#142 fix: redesign confirm-sign-out page
  frontend/assets/css/confirm-sign-out.css
  frontend/assets/images/caution.png
  frontend/confirm-sign-out.html
Labels: enhancement, frontend

#144 fix: update login page
  frontend/assets/css/login.css
  frontend/login.html
Labels: enhancement, frontend

#147 fix: update sign up page
  frontend/assets/css/login.css
  frontend/assets/css/sign-up.css
  frontend/sign-up.html
Labels: enhancement, frontend

#149 feat: add coming soon and 404 page
  contributions/Jeremy.md
  frontend/404.html
  frontend/assets/css/404.css
  frontend/assets/css/coming-soon.css
  frontend/assets/images/404-icon.png
  frontend/assets/images/maintenance.png
  frontend/coming-soon.html
Labels: frontend

#151 fix: templates bug fixes
  config/settings.py
  frontend/implemented/login.html
  frontend/implemented/sign-up.html
  frontend/implemented/verification-page.html
  frontend/implemented/verify-email.html
  frontend/index.html
  static/assets/css/login.css
  static/assets/css/logout.css
  static/assets/css/sign-up.css
  static/assets/css/style.css
  static/assets/css/verification_sent.css
  static/assets/images/back.png
  static/assets/images/caution.png
  static/assets/js/script.js
  static/css/base.css
  templates/account/login.html
  templates/account/logout.html
  templates/account/signup.html
  templates/account/verification_sent.html
  templates/base.html
  templates/home.html
Labels: bug, enhancement, backend

#152 update to select template and dashaborad pages
  frontend/assets/css/select_template.css
  frontend/implemented/confirm-sign-out.html
  frontend/implemented/index.html
  frontend/implemented/verification-sent.html
  frontend/select_template.html
  pages/urls.py
  pages/views.py
  static/assets/css/dashboard.css
  static/assets/css/select_template.css
  static/assets/images/appearance.png
  static/assets/images/comments.png
  static/assets/images/feedback.png
  static/assets/images/home.png
  static/assets/images/logout-icon.png
  static/assets/images/media.png
  static/assets/images/plugins.png
  static/assets/images/settings.png
  static/assets/images/stats.png
  static/assets/images/template1.png
  static/assets/images/template2.png
  static/assets/images/template3.png
  static/assets/images/template4.png
  static/assets/images/tools.png
  static/assets/images/users.png
  templates/base.html
  templates/dashboard.html
  templates/select_template.html
Labels: enhancement, backend

#154 feat: add user-invites and invite-users page
  frontend/assets/css/invite-users.css
  frontend/assets/css/invites.css
  frontend/invite-users.html
  frontend/invites.html
Labels: frontend

#155 feat:password reset done and few templates rendering
  config/urls.py
  frontend/implemented/change-password.html
  frontend/implemented/dashboard.html
  frontend/implemented/pass-reset-sent.html
  frontend/implemented/password-changed.html
  frontend/implemented/reset-password.html
  frontend/implemented/select_template.html
  frontend/implemented/verify-email.html
  pages/views.py
  static/assets/css/404.css
  static/assets/css/change-password.css
  static/assets/css/pass-change-success.css
  static/assets/css/select_template.css
  static/assets/images/404-icon.png
  static/assets/images/change-password-icon.png
  static/assets/images/reset-password-icon.webp
  templates/404.html
  templates/account/login.html
  templates/account/password_reset.html
  templates/account/password_reset_done.html
  templates/account/password_reset_from_key.html
  templates/account/password_reset_from_key_done.html
Labels: enhancement, backend

#156 fix: base.html tweak
  templates/base.html
  templates/home.html
Labels: bug

#157 fix: adjust landing page styles
  static/assets/css/style.css
  templates/base.html
Labels: enhancement, frontend

#160 fix: add architecture used
  README.md
Labels: README
